{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1>Вход на сайт</h1>
{% if form.errors %}
<p>
    Ваши логин и пароль не найдены. Попробуйте снова.
</p>
{% else %}
<p>Используйте форму, чтобы войти. Если у вас еще нет аккаунта, скорее <a href="{% url 'register' %}">создайте его!</a>
</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{next}}">
        <p><input type="submit" value="Войти"></p>
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </p>
</div>
<div class="social">
    <ul>
        <li class="facebook">
            <a href="#">
                Sign in with Facebook
            </a>
        </li>
        <li class="twitter">
            <a href="#">
                Sign in with Twitter
            </a>
        </li>
        <li class="google">
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                Sign in with Google
            </a>
        </li>
        <li class="vk">
            <a href="{% url 'social:begin' 'vk-oauth2' %}">
                Sign in with VKontakte
            </a>
        </li>
        <li class="git">
            <a href="{% url 'social:begin' 'github' %}">
                Sign in with GitHub
            </a>
        </li>
    </ul>
</div>
{% endblock %}